.back-link {
    text-align: center;
    font-weight: 300;
    color: gray;
}
.back-link:hover {
    color: #000; 
}
.back-link a {
    color: #999;
}
.back-link a:hover {
    color: #000;
}
h1.all-artworks {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #444;
}
.row.artwork {
    text-align: center;
}
.awl-row {
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}
.awl-row:first-child {
    padding-top: 10px;
    border-top: 2px solid black;
}
.awl-row:last-child {
    border: none;
}
.awl-row .left-align h1 {
    font-weight: 300;
}
.artwork-img {
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
}
.artwork-info-text {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
}
