.cv-text-container:before {
  content: "\f10d";
  font-family: FontAwesome;
  left: -3%;
  position: absolute;
}
.col-md-6:first-child img {
  padding-right: 7%;
  padding-left: 7%;
  max-height: 400px;
}
@media (max-width: 992px) {
  .cv-text-container {
    text-align: center !important;
    width: 80% !important;
    padding-left: 10%;
    padding-right: 10%;
  }
}

.cv-text-container {
  width: 30%;
  text-align: left;
  font-style: oblique;
}
.row {
  text-align: center;
}
