---
---
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px|Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <link href="/css/grids.css" rel="stylesheet" type="text/css">
    <link href="/css/artwork.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  </head>
  <body>
    {{ content }}
  </body>
</html>
